html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

header {
  width: 90%;
  padding: 2em;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

main {
  width: 90%;
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

product-gallery {
  order: -1;
}

.grid-item {
  flex-basis: 50%;
}

footer {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  color: #888;
  width: 90%;
  padding: 2em;
}

footer a {
  float: right;
  padding: 5px;
  cursor: pointer;
}

footer a:hover {
  color: #666;
}
